#########################################
# ignore all files under raw_data and   #
# processed_data under the current dir  #
#########################################

**/raw_data/*
**/processed_data/*
**/processed_files/*